body {
    font-family: 'Nunito', sans-serif;
    width: 100;
    margin: auto;
}

.home-container {
    background-color: #a1a7ab;
    margin: auto;
    text-align: left;
    width: 75%;

}

#home-button {
    background-color: #2b599e;
    color: white;
    font-size: 18px;
    border-radius: 7px;
    margin: 25px;
    padding: 10px;
}

#submit-button {
    background-color: #2b599e;
}
