body {
    font-family: 'Nunito', sans-serif;
    width: 100;
    margin: auto;
}

.footer{
    margin: auto;
    max-width: 85%;
    text-align: left;
    padding: 20px;
}

.home-container {
    background-color: #d5d9de;
    margin: auto;
    text-align: center;
    width: 85%;
    border-radius: 5px;

}

#jumbo {
    font-size: 65px;
    margin: auto;
    padding: 30px;
}

#headline {
    font-size: 30px;
}

#home-button {
    background-color: #2b599e;
    color: white;
    font-size: 18px;
    border-radius: 7px;
    margin: 25px;
    padding: 10px;
}

#submit-button {
    background-color: #2b599e;
}
